{% extends 'baseMentor.html.twig' %}

{% block title %}formation{% endblock %}

{% block body %}
<div class="card-body px-0 pt-0 pb-2">

    <table class="table align-items-center mb-0">
        <tbody>
            <tr>
                <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"  >Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" >Name</th>
                <td>{{ formation.name }}</td>
            </tr>
            
            <tr>
                <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" >type</th>
                <td>{{ formation.type }}</td>
            </tr>
            <tr>
                <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" >Subscrib</th>
                <td>{{ formation.Subscrib}}</td>
            </tr>
           
        </tbody>
    </table>
    <br> <br> 
    <div style="text-align: center;">
    <a  class="btn btn-sm btn-primary" href="{{ path('app_formation_index') }}">back to list</a>
<br>
    <a  class="btn btn-sm btn-warning" href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
</div></div>
{% endblock %}