{% extends 'basementor.html.twig' %}



{% block body %}
<style>
    .alert {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    
</style>
        
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
        {{ form_widget(form.mentor, {'attr': {'class': 'form-control'}, 'value': app.user.id}) }}


            </div>
            
       
        <!-- Ajoutez d'autres champs de formulaire au besoin -->
        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
   
        {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

{% endblock %}
