<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}



        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Nucleo Icons -->
        <link href={{asset("./assetso/css/nucleo-icons.css")}} rel="stylesheet" />
        <link href={{asset("./assetso/css/nucleo-svg.css")}} rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href={{asset("./assetso/css/nucleo-svg.css")}} rel="stylesheet" />
        <!-- CSS Files -->
        <link id="pagestyle" href={{asset("./assetso/css/argon-dashboard.css?v=2.0.4")}} rel="stylesheet" />

        <style>
          /* Ajoutez cette règle pour changer la couleur du texte en blanc */
          body,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p,
          a,
          span,
          li,
          input,
          textarea {
              color: #ffffff; /* Blanc */
          }
    


      </style>




        
        {% endblock %}

        {% block javascripts %}







        <!--   Core JS Files   -->
        <script src={{asset("./assetso/js/core/popper.min.js")}} ></script>
        <script src={{asset("./assetso/js/core/bootstrap.min.js")}} ></script>
        <script src={{asset("./assetso/js/plugins/perfect-scrollbar.min.js")}} ></script>
        <script src={{asset("./assetso/js/plugins/smooth-scrollbar.min.js")}} ></script>
        <script src={{asset("./assetso/js/plugins/chartjs.min.js")}} ></script>
        









        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var cogIcon = document.querySelector('.fa.fa-cog');
            var dropdownMenu = document.querySelector('.dropdown-menu');
        
            cogIcon.addEventListener('click', function () {
              if (dropdownMenu.classList.contains('show')) {
                dropdownMenu.classList.remove('show');
                cogIcon.setAttribute('aria-expanded', 'false');
              } else {
                dropdownMenu.classList.add('show');
                cogIcon.setAttribute('aria-expanded', 'true');
              }
            });
          });
        </script>





         {% endblock %}
    </head>
    <body style="background: #133056;">

      {% block header %}
      {% if app.user.validated %}
      <div>

        
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false" >
            <div class="container-fluid py-1 px-3" >
              <nav aria-label="breadcrumb" >
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
                  <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
                </ol>
                <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
              </nav>
              
              <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar" >
              
               
                
                    
                </div>
            

               <ul class="navbar-nav  justify-content-end">
 
                  <li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" aria-expanded="false">
                     <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer" aria-hidden="true"></i>
                      
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton" data-bs-popper="static">
                      <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="{{ path('profile_edit') }}">
                          <div class="d-flex py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="text-sm font-weight-normal mb-1 text-white">
                                <span class="font-weight-bold" style="color: #343a40;">Profile</span>
                              </h6>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="{{ path('app_logout') }}">
                          <div class="d-flex py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="text-sm font-weight-normal mb-1 text-white">
                                <span class="font-weight-bold" style="color: #343a40;">Logout</span>
                              </h6>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
              </div>
            </div>
          </nav>
        </div>
    
{% endif %}
      {% endblock %}
      
        {% block sidebar %}
        {% if app.user.validated %}
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main" style="background: linear-gradient(to bottom, #5686C4, #55036A);">
          <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" >
            {% if app.user %}
            <img src="{{ asset('uploads/images/' ~ app.user.imageFileName) }}" style="width: 70px; height: auto; border-radius: 35%; margin-right: 15px;">

            <span class="ms-1 font-weight-bold">{{ app.user.firstName }} {{ app.user.lastName }}</span>
            {% endif %}
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/mentor">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="/offer">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Offers</span>
                </a>
            </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/aproveListe">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Mentoring request</span>
            </a>
        </li>
      
           
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="toggleChats()">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Chat</span>
        </a>
             
        
      </li>
      
           
            
        </ul>
    
</aside>

{% endif %}
<script>
  function toggleChats() {
      var chatsDiv = document.querySelector('.chats');
      chatsDiv.style.display = (chatsDiv.style.display === 'none') ? 'block' : 'none';
  }
</script>
{% endblock %}


        {% block body %}
   
        {% endblock %}
  
</div>
    </body>

</html>