{% extends 'base.html.twig' %}

{% block title %}All Users{% endblock %}

{% block body %}
<div class="col-12" style="text-align: center;">
    
    <div class="card-header pb-0">
    <h6>Users</h6>
    <br>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
    <div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
    <thead>
    <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">First Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">City</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Validation</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% for role in user.roles %}
            {% if role in ['MENTOR', 'MENTEE'] %}
                <tr>
                    <td class="text-white">{{ user.firstName }}</td>
                    <td class="text-white">{{ user.lastName }}</td>
                    <td class="text-white">{{ user.city }}</td>
                    <td class="text-white">{{ user.email }}</td>
                    <td class="text-white">
                        {{ role }}
                    </td>
                  
                    {% if role in ['MENTOR'] %}
                    <td class="text-white"> {% if user.Validated %}Validated{% else %}<a href="{{ path('validate_user', {'id': user.id}) }}">Validate</a>{% endif %}</td>
                    {% else %}
                    <td class="text-white">-</td>
                    {% endif %}
                
                    <td class="text-white">
                        {{ include('users/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
    </div>
    </div>
    
{% endblock %}
